doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        link(rel="shortcut-icon", href="#")
        link(rel="stylesheet", href="/css/index.css")
        title Kryddhora
    body
        header
            -
                const username = user?.username || 'gäst'
            h1 Välkommen, #{username}
            if user
                nav
                    a(href="/") hem
                    a(href="/add") ny
        main
            block main
        footer
        block scripts