extends ../layout.pug

block scripts 
    script(src="/js/add.js") 

block main
    if !user
        span du m책ste vara inloggad
    else
        h2 L채gg till ny vara
        form#add
            input(name="objektnamn" placeholder="varas namn")
            .field
                div#valjakategori.flex.jcsb.aic
                    span v채lja kategori
                    button(type="button")#nykategori ny kategori
                    select(name="kid")
                        each kategori in kategorier
                            option(value=kategori._id)= kategori.namn
            button(type="submit") till채gga
